<div class="ui container">
  <div class="ui middle aligned grid">
    <div class="six wide column">
      <h1 class="ui center aligned header">Login</h1>
      <%= render 'form' %>
      <div class="ui message">
        <%= link_to 'Go Back', user_sessions_path %>
      </div>
    </div>
  </div>
</div>
